/* Copied from ElectraMod or Snail-IDE BRUH! */
.block-animation img {
    display: block;
    position: relative;
    margin-top: -4px;
    animation-name: bouncing;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    animation-delay: 0s;
}

@keyframes bouncing {
  0% {
      left: 0;
      top: 0;
      transform: rotate(0deg);
      animation-timing-function: ease-out;
  }
  25% {
      left: 10px;
      top: -50px;
      transform: rotate(10deg);
      animation-timing-function: ease-in;
  }
  50% {
      left: 0;
      top: 0;
      transform: rotate(0deg);
      animation-timing-function: ease-out;
  }
  75% {
      left: -10px;
      top: -50px;
      transform: rotate(-10deg);
      animation-timing-function: ease-in;
  }
  100% {
      left: 0;
      top: 0;
      transform: rotate(0deg);
  }
}