:root {
	 --gaiacolor:hsla(240, 65%, 50%, 1);
	 --gaiacolor-secondary:hsla(240, 65%, 55%, 1);
	 --gaiacolor-tertiary:hsla(240, 65%, 60%, 1);
	 --bg-color:#ffffff;
	 --text-color:#111111;
	 --footer-bg:#CFCFCF;
	 --footer-color:#000000;
	 --theme-image:url('https://raw.githubusercontent.com/ElectraMod/ElectraMod-Home/ee8edc1664e6b313438ff4ffd3271788ec81e9d8/static/moon.svg');
  /* Add other variables */
}

[data-bs-theme="dark"] {
	 --gaiacolor:hsla(240, 65%, 40%, 1);
	 --gaiacolor-secondary:hsla(240, 65%, 50%, 1);
	 --gaiacolor-tertiary:hsla(240, 65%, 55%, 1);
	 --bg-color:#111111;
	 --text-color:#ffffff;
	 --footer-bg:#333333;
	 --footer-color:#ffffff;
     --theme-image:url('https://raw.githubusercontent.com/ElectraMod/ElectraMod-Home/ee8edc1664e6b313438ff4ffd3271788ec81e9d8/static/sun.svg');
  /* Override variables */
}

        * {
            list-style: none;
          }

   .bg-menu { 
    background-color: var(--gaiacolor); /* ??? */
    color: white;
  }
  
      .bg-menu a{ 
    color: white;
  }
  
      .bg-menu a:hover{ 
    color: #CFCFFF;
  }
  
    .bg-jumbotron { 
    background-color: var(--gaiacolor-secondary); /* ??? */
    color: #ffffff;
  }
  
     .bg-menu { 
    background-color: var(--gaiacolor); /* ??? */
    color: white;
  }
  
  
   #theme-toggle::before {
  content: var(--theme-image);
  color: white;
  }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: auto}
    
    /* Set gray background color and 100% height */
    .sidenav {
        height: auto;
        padding: 15px;
    }
    
    /* Set black background color, white text and some padding */
    footer {
background-color: var(--footer-bg);
    color: var(--footer-color);
      padding: 15px;
    }
    
    
     /* Set black background color, white text and some padding */
    .bg-section {
    background: var(--gaiacolor-tertiary);
    color: white;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}